.page{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    font-size: 16px;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #4a4a4b;
    height: 80vh;
    width: 40%;
    padding: 20px 0;
}

.date {
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
}

.information {
    padding: 3.2rem 0;
}

.price_info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 1.2rem;
    width: 100%;
    font-size: 1.2rem;
    border-top: 5px solid #e3e3e3;
    border-bottom: 5px solid #e3e3e3;
}

.price {
    font-size: 1.5rem;
    font-weight: 600;
}
