* {
    outline:none;
    box-sizing: border-box;
}


.container {
    background-image: url("/src/assets/banner.jpg");
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.container h1 {
    text-shadow: 1px 0 1px #000,
    0 1px 1px #000,
    -1px 0 1px #000,
    0 -1px 1px #000;
    color: white;
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
}
.form_container {
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    box-shadow: 0 4px 20px 2px rgba(0, 0, 0, 0.15);
    padding: 10px 20px;
    width: 70%;
    font-size: 1.3rem;
}

.input_container {
    box-shadow: none;
    width: 100%;
    outline:0;
    position: relative;
}

.auto_complete {
    position: absolute;
    width: 100%;
    background: white;
    list-style: none;
    z-index: 15;
    margin-top: 15px;
    padding: 0;
    box-shadow: 0 4px 20px 2px rgba(0, 0, 0, 0.15);
    max-height: 20vh;
    border-radius: 10px;
    height: auto;
    overflow: auto;
}
.auto_complete li {
    padding: 8px;
    font-size: 0.9rem;
}
.auto_complete li:hover {
    background-color: rgba(237, 237, 237, 0.7);
    cursor: pointer;
    transition: cubic-bezier(1, 0, 0, 1) .1s all;
}
textarea:focus, input:focus{
    outline: none;
}
hr {
  border: 5px solid white;
}
form {
    all: unset;
}
.not_found_text {
    text-align: center;
    font-size: 2rem;
    align-items: center;
    margin-top: 1.2rem;
}

.arrows {
    background-image: url("../../../assets/../static/images/arrow_left_right_line_icon.svg");
    background-repeat: no-repeat;
    cursor: pointer;
    height: 1.6rem;
    width: 1.8rem;
    padding: 0 1.2rem;
    background-size: 1.6rem 1.8rem;
}