* {
    outline:none;
    box-sizing: border-box;
}

.content {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.not_found_text {
    text-align: center;
    font-size: 2rem;
    align-items: center;
    margin-top: 1.2rem;
}

.cards {
    display: flex;
    justify-content: start;
    align-items: center;
}

.sort_items {
    width:20%;
    margin-right: 2rem;
}


.sort_items li {
    display: flex;
    font-size: 1.3rem;
}
.sort_items li:hover {
    background-color: rgba(145, 145, 145, 0.11);
}

.sort_items_container{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
}

.sort_items_mobile {
    background-color: white ;
    border-radius: 20px;
    padding: 3rem;
}

.sort_items_mobile li {
    display: flex;
    font-size: 1.3rem;
}
.sort_items_mobile li:hover {
    background-color: rgba(145, 145, 145, 0.11);
}

.loading {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

button {
    background-color: #a3adfa;
    border-radius: 5px;
    padding: 0.5rem 2.2rem;
    cursor: pointer;
    border: none;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
}

.button_filter {
    background-color: #a3adfa;
    border-radius: 20px;
    padding: 0.5rem 2.2rem;
    cursor: pointer;
    border: none;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
    display: none;
}

.errors {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 1200px) and (hover: none) and (pointer: coarse){
        .sort_items {
            display: none;
        }
        .button_filter {
            display: inline-block;
            position: fixed;
            bottom: 20px;
            z-index: 200;
        }
}


