.checkbox_container {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.checkbox {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 2rem;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 2rem;
}

.custom_checkbox {
  display: inline-block;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  background-image: url('../../../../static/images/checkpoint.svg');
  background-size: 2rem 2rem;
}


.checkbox:checked ~ .custom_checkbox {
  border: none;
  background-color: transparent;
  background-size: 2rem 2rem;
  background-image: url('../../../../static/images/checkpoint1.svg');
}

.label {
  color: var(--color-text);
  display: inline-block;
  margin-right: 0.35rem;
  font-size: 1.2rem;
  padding: 1rem;
}
