.input {
    background-color: rgba(237, 237, 237, 0.7);
    font-size: 16px;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    height: auto;

}

.input::placeholder {
    color: rgba( 0, 0,  0,0.5);
}

.input:active,
.input:focus {
    outline: none;
}


.error {
    background-color: rgba(255, 152, 152, 0.46);
}

.helper_text {
    font-weight: 300;
    font-size: 10px;
    line-height: 14px;
    color: rgba(255, 0, 0, 0.65);
    padding-left: 10px;

}