.button {
    background-color: #42d9d9;
    border-radius: 5px;
    padding: 9px 80px;
    cursor: pointer;
    border: none;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
}

.button:hover {
    background-color: #24dada;
    box-shadow:  0 2px 10px rgba(0, 0, 0, 0.05);
}

.button:active {

}